<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ .Church }} QR Code Generator</title>
</head>
<body>
<form method="POST" action="/">
    <p>
        <label for="url">URL:</label>
        <input type="url" name="url" id="url">
    </p>
    <p>
        <input type="submit" name="submit" value="Submit">
    </p>
</form>
</body>
</html>
